<h1>Bookings</h1>

<table class="table table-stripped">
	<thead>
		<tr>
			<th>Doctor Name</th>
			<th>Date</th>
		</tr>
	</thead>

	<tbody>
    <% @booked_infos.each do |booked_info| %>
    	<tr>
    	  <td><%= booked_info["doctor_name"]%></td>
    		<td><%= booked_info['booking_date']%></td>
    		<td><%= link_to 'Edit', edit_doctor_patient_path(booked_info["id"]), 
                                    class: "btn btn-xs btn-primary" %>
                <%= link_to 'Cancel', doctor_patient_path(booked_info["id"]), method: :delete, class: "btn btn-xs btn-danger" %>                         
            </td>
    		
    	</tr>
    <% end %>
	</tbody>
</table>