<h1>Patient List</h1>

<table class="table table-stripped">
	<thead>
		<th>Patient Name</th>
		<th>Appointment Date</th>
	</thead>
	<% @patients.each do |patient| %>
		<tr>
			<td><%= link_to patient["patient_name"], patient_path(patient["patient_id"]) %></td>
			<td><%= patient["booking_date"] %></td>
		</tr>
	<% end %>
</table>