<h1>Patient List</h1>

<table class="table table-stripped">
	<thead>
		<th>Patient Name</th>
		<th>Appointment Date</th>
	</thead>

	<% @patients.each do |doctor_patient| %>
		<tr>
			<td><%= link_to doctor_patient.patient.first_name, patient_path(doctor_patient.patient.id) %></td>
			<td><%= doctor_patient.booking_date %></td>
		</tr>
	<% end %>
</table>