<h4>Doctor Details</h4>

<div class="container">
	<div class="row">
		<div class="col-sm-4"><strong>Name</strong></div>
		<div class="col-sm-4"><%= @doctor.first_name %></div>
	</div>
	<div class="row">
		<div class="col-sm-4"><strong>Email</strong></div>
		<div class="col-sm-4"><%= @doctor.email %></div>
	</div>
</div>